{% extends 'base.html' %}

{% block content%}
<div class="container wrapper flex-grow-1">
<h1 class="my-4">
        
  Пользователи
  
        </h1>
        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
          <td>2</td>
          <td>aaa</td>
          <td>aaa aaa</td>
          <td>01.11.2024 14:33</td>
          <td>
            <a href="/users/2/update/">Изменить</a>
            <br>
            <a href="/users/2/delete/">Удалить</a>
          </td>
        </tr>
      
        <tr>
          <td>3</td>
          <td>7777</td>
          <td>7777 77777</td>
          <td>01.11.2024 16:22</td>
          <td>
            <a href="/users/3/update/">Изменить</a>
            <br>
            <a href="/users/3/delete/">Удалить</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}
